.SKS_frmActionOrderReception {
    left: -1px;
    top: -1px;
}
.SKS_frmActionOrderReception .frmActionOrderReception {
    background-color: rgba(240, 240, 240, 1);
    width: 523px;
    height: 519px;
    overflow: hidden;
    font-size: 8.25pt;
    left: 3px;
    top: 25px;
}
.SKS_frmActionOrderReception .Label6 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 160px;
    width: 33px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmActionOrderReception .Label8 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 384px;
    width: 89px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmActionOrderReception .Label9 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 288px;
    top: 408px;
    width: 89px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmActionOrderReception .Label10 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 288px;
    top: 384px;
    width: 89px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmActionOrderReception .Label11 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 432px;
    width: 89px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmActionOrderReception .Label12 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 408px;
    width: 57px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmActionOrderReception .lblChanged {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 312px;
    top: 36px;
    width: 65px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmActionOrderReception .Label4 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 16px;
    top: 8px;
    width: 49px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmActionOrderReception .lblChangedBy {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 320px;
    top: 64px;
    width: 57px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmActionOrderReception .Label19 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 32px;
    width: 57px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmActionOrderReception .Label3 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 328px;
    top: 8px;
    width: 49px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmActionOrderReception .Label7 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 64px;
    width: 57px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmActionOrderReception .Frame2 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 96px;
    width: 505px;
    height: 49px;
    position: absolute;
}
.SKS_frmActionOrderReception .Label1 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 232px;
    top: 16px;
    width: 57px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmActionOrderReception .Label5 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 16px;
    width: 57px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmActionOrderReception .txtProviderCompany {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 72px;
    top: 16px;
    width: 145px;
    height: 20px;
    position: absolute;
}
.SKS_frmActionOrderReception .txtProviderContact {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 288px;
    top: 16px;
    width: 209px;
    height: 20px;
    position: absolute;
}
.SKS_frmActionOrderReception .cmdClose {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 424px;
    top: 456px;
    width: 89px;
    height: 25px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmActionOrderReception .cmdCancel {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 328px;
    top: 456px;
    width: 89px;
    height: 25px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmActionOrderReception .sbStatusBar {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    position: absolute;
    border: inset 1px;
}
.SKS_frmActionOrderReception .sbStatusBar_Panels_Panel1 {
    width: 523px;
    height: 25px;
    position: absolute;
}
.SKS_frmActionOrderReception .fgDetails {
    left: 8px;
    top: 200px;
    width: 505px;
    height: 177px;
    position: absolute;
}
.SKS_frmActionOrderReception .txtEntry {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 416px;
    top: 312px;
    width: 73px;
    height: 19px;
    position: absolute;
}
.SKS_frmActionOrderReception .txtSalesTax {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 88px;
    top: 384px;
    width: 145px;
    height: 20px;
    position: absolute;
}
.SKS_frmActionOrderReception .txtFreightCharge {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 88px;
    top: 408px;
    width: 145px;
    height: 20px;
    position: absolute;
}
.SKS_frmActionOrderReception .txtTotalTax {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 368px;
    top: 384px;
    width: 145px;
    height: 20px;
    position: absolute;
}
.SKS_frmActionOrderReception .txtTotal {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 88px;
    top: 432px;
    width: 145px;
    height: 20px;
    position: absolute;
}
.SKS_frmActionOrderReception .txtSubTotal {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 368px;
    top: 408px;
    width: 145px;
    height: 20px;
    position: absolute;
}
.SKS_frmActionOrderReception .txtNotes {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 56px;
    top: 152px;
    width: 457px;
    height: 44px;
    position: absolute;
}
.SKS_frmActionOrderReception .txtOrderID {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 96px;
    top: 8px;
    width: 105px;
    height: 20px;
    position: absolute;
}
.SKS_frmActionOrderReception .txtChanged {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 408px;
    top: 36px;
    width: 105px;
    height: 20px;
    position: absolute;
}
.SKS_frmActionOrderReception .txtChangedBy {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 408px;
    top: 64px;
    width: 105px;
    height: 20px;
    position: absolute;
}
.SKS_frmActionOrderReception .txtReceived {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 96px;
    top: 36px;
    width: 105px;
    height: 20px;
    position: absolute;
}
.SKS_frmActionOrderReception .txtStatus {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 408px;
    top: 8px;
    width: 105px;
    height: 20px;
    position: absolute;
}
.SKS_frmActionOrderReception .cmdApprove {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 232px;
    top: 456px;
    width: 89px;
    height: 25px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmActionOrderReception .txtReceivedBy {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 96px;
    top: 64px;
    width: 105px;
    height: 20px;
    position: absolute;
}
