.SKS_frmReceptionApproval {
    left: -1px;
    top: -1px;
}
.SKS_frmReceptionApproval .frmReceptionApproval {
    background-color: rgba(240, 240, 240, 1);
    width: 523px;
    height: 496px;
    overflow: hidden;
    font-size: 8.25pt;
    left: 3px;
    top: 25px;
}
.SKS_frmReceptionApproval .Frame1 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 8px;
    width: 505px;
    height: 153px;
    position: absolute;
}
.SKS_frmReceptionApproval .Label2 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 48px;
    width: 89px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmReceptionApproval .Label4 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 16px;
    width: 89px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmReceptionApproval .Label3 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 264px;
    top: 48px;
    width: 57px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmReceptionApproval .Label6 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 80px;
    width: 65px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmReceptionApproval .Label1 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 112px;
    width: 89px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmReceptionApproval .Label8 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 264px;
    top: 112px;
    width: 65px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmReceptionApproval .Label5 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 288px;
    top: 20px;
    width: 41px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmReceptionApproval .dtTo {
    font-size: 8.25pt;
    left: 384px;
    top: 80px;
    width: 97px;
    height: 20px;
    position: absolute;
}
.SKS_frmReceptionApproval .dtFrom {
    font-size: 8.25pt;
    left: 136px;
    top: 80px;
    width: 97px;
    height: 20px;
    position: absolute;
}
.SKS_frmReceptionApproval .txtProviderName {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 88px;
    top: 16px;
    width: 145px;
    height: 20px;
    position: absolute;
}
.SKS_frmReceptionApproval .cmdProviders {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 240px;
    top: 16px;
    width: 25px;
    height: 21px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmReceptionApproval .txtContactName {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 88px;
    top: 48px;
    width: 145px;
    height: 20px;
    position: absolute;
}
.SKS_frmReceptionApproval .txtContactLastName {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 336px;
    top: 48px;
    width: 145px;
    height: 20px;
    position: absolute;
}
.SKS_frmReceptionApproval .txtOrderID {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 88px;
    top: 112px;
    width: 145px;
    height: 20px;
    position: absolute;
}
.SKS_frmReceptionApproval .txtProductID {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 336px;
    top: 112px;
    width: 145px;
    height: 20px;
    position: absolute;
}
.SKS_frmReceptionApproval .chkFrom {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 88px;
    top: 80px;
    width: 47px;
    height: 17px;
    position: absolute;
}
.SKS_frmReceptionApproval .chkTo {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 336px;
    top: 80px;
    width: 41px;
    height: 17px;
    position: absolute;
}
.SKS_frmReceptionApproval .cmbStatus {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 336px;
    top: 16px;
    width: 145px;
    height: 21px;
    position: absolute;
}
.SKS_frmReceptionApproval .cmdClose {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 424px;
    top: 440px;
    width: 89px;
    height: 25px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmReceptionApproval .cmdCancel {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 328px;
    top: 440px;
    width: 89px;
    height: 25px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmReceptionApproval .sbStatusBar {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    position: absolute;
    border: inset 1px;
}
.SKS_frmReceptionApproval .sbStatusBar_Panels_Panel1 {
    width: 523px;
    height: 25px;
    position: absolute;
}
.SKS_frmReceptionApproval .fgOrders {
    left: 8px;
    top: 168px;
    width: 505px;
    height: 265px;
    position: absolute;
}
.SKS_frmReceptionApproval .cmdInfo {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 136px;
    top: 440px;
    width: 89px;
    height: 25px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmReceptionApproval .cmdApprove {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 232px;
    top: 440px;
    width: 89px;
    height: 25px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
