<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="AdoFactories" type="UpgradeHelpers.DB.AdoFactoriesConfigurationSection, UpgradeHelpers.DB.Essentials" allowExeDefinition="MachineToApplication" allowLocation="true" />
    </configSections>
    <AdoFactories>
        <Factories>
 
           <add name="SQLServer" factorytype="System.Data.SqlClient" isdefault="false" databasetype="SQLServer" />
            <add name="Oracle" factorytype="System.Data.OracleClient" isdefault="false" databasetype="Oracle" />
            <add name="Oledb" factorytype="System.Data.OleDb" isdefault="false" databasetype="Access" />
            <add name="Access" factorytype="System.Data.Odbc" isdefault="true" databasetype="Access" />
        </Factories>
    </AdoFactories>
</configuration>
