<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="public" value="https://packages.mobilize.net/nuget/mobilizenet-nuget/v3/index.json" />
    <add key="CI" value="http://ais-build-w7:81/nuget/ContinuousIntegration/v3/index.json" />
    <add key="researchExternal" value="http://ais-build-w7:81/nuget/researchExternal/v3/index.json" />
    <add key="research" value="http://ais-build-w7:81/nuget/research/v3/index.json" />
    <add key="Utilities" value="http://ais-build-w7:81/nuget/utilities/v3/index.json" />
    <add key="VBUC" value="http://ais-build-w7:81/nuget/VBUC/v3/index.json" />
    <add key="WebMAP" value="http://ais-build-w7:81/nuget/webmap/v3/index.json" />
      </packageSources>
</configuration>
