.SKS_frmLogin {
    left: -1px;
    top: -1px;
}
.SKS_frmLogin .frmLogin {
    background-color: rgba(240, 240, 240, 1);
    width: 289px;
    height: 137px;
    overflow: hidden;
    font-size: 8.25pt;
    left: 189px;
    top: 232px;
}
.SKS_frmLogin ._lblLabels_1 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 39px;
    top: 52px;
    width: 72px;
    height: 18px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmLogin ._lblLabels_0 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 39px;
    top: 26px;
    width: 72px;
    height: 18px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmLogin .cmdOK {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 89px;
    top: 100px;
    width: 76px;
    height: 26px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmLogin .txtPassword {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 118px;
    top: 51px;
    width: 155px;
    height: 23px;
    position: absolute;
}
.SKS_frmLogin .cmdCancel {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 196px;
    top: 100px;
    width: 76px;
    height: 26px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmLogin .txtUserName {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 118px;
    top: 25px;
    width: 155px;
    height: 23px;
    position: absolute;
}
