.SKS_frmAbout {
    left: -1px;
    top: -1px;
}
.SKS_frmAbout .frmAbout {
    background-color: rgba(240, 240, 240, 1);
    width: 394px;
    height: 237px;
    overflow: hidden;
    font-size: 8.25pt;
    left: 156px;
    top: 129px;
}
.SKS_frmAbout .lblDisclaimer {
    width: auto;
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: Black;
    left: 17px;
    top: 175px;
    height: auto;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmAbout .lblVersion {
    width: auto;
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 163px;
    top: 56px;
    height: auto;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmAbout ._Line1_0 {
    background-color: White;
    font-size: 8.25pt;
    left: 6px;
    top: 148px;
    width: 293px;
    height: 1px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmAbout .lblTitle {
    width: auto;
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: Black;
    left: 163px;
    top: 24px;
    height: auto;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmAbout .lblDescription {
    width: auto;
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: Black;
    left: 164px;
    top: 80px;
    height: auto;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmAbout ._Line1_1 {
    background-color: Gray;
    font-size: 8.25pt;
    left: 5px;
    top: 147px;
    width: 294px;
    height: 1px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmAbout .cmdOK {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 272px;
    top: 208px;
    width: 108px;
    height: 23px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmAbout .picIcon {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    left: 16px;
    top: 16px;
    width: 36px;
    height: 36px;
    position: absolute;
}
