.SKS_frmAddProductTo {
    left: -1px;
    top: -1px;
}
.SKS_frmAddProductTo .frmAddProductTo {
    background-color: rgba(240, 240, 240, 1);
    width: 424px;
    height: 511px;
    overflow: hidden;
    font-size: 8.25pt;
    left: 3px;
    top: 25px;
}
.SKS_frmAddProductTo .lblProductsRelated {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 248px;
    width: 409px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmAddProductTo .lvProductsBy {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 272px;
    width: 409px;
    height: 169px;
    position: absolute;
}
.SKS_frmAddProductTo .Frame1 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 8px;
    width: 409px;
    height: 233px;
    position: absolute;
}
.SKS_frmAddProductTo .Label5 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 16px;
    top: 16px;
    width: 89px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmAddProductTo .Label4 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 16px;
    top: 40px;
    width: 89px;
    height: 17px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmAddProductTo .lvProducts {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 64px;
    width: 393px;
    height: 161px;
    position: absolute;
}
.SKS_frmAddProductTo .txtCode {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 112px;
    top: 16px;
    width: 97px;
    height: 20px;
    position: absolute;
}
.SKS_frmAddProductTo .txtName {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 112px;
    top: 40px;
    width: 145px;
    height: 20px;
    position: absolute;
}
.SKS_frmAddProductTo .cmdProducts {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 360px;
    top: 16px;
    width: 25px;
    height: 21px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmAddProductTo .cmdSave {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 224px;
    top: 448px;
    width: 89px;
    height: 25px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmAddProductTo .cmdClose {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 328px;
    top: 448px;
    width: 89px;
    height: 25px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmAddProductTo .sbStatusBar {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 23px;
    position: absolute;
    border: inset 1px;
}
.SKS_frmAddProductTo .sbStatusBar_Panels_Panel1 {
    width: 423px;
    height: 23px;
    position: absolute;
}
.SKS_frmAddProductTo .cmdRemove {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 8px;
    top: 448px;
    width: 97px;
    height: 25px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmAddProductTo .chkAll {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 112px;
    top: 454px;
    width: 81px;
    height: 17px;
    position: absolute;
}
