<div *ngIf="model">
    <wm-window [model]="model" id="frmOrderRequest" class="SKS_frmOrderRequest">
        <ng-template let-model>
            <div class="frmOrderRequest">
                <wm-groupbox id="Frame1" [model]="model.Frame1" class="Frame1" tabindex="14">
          <wm-label id="Label4" [model]="model.Label4" class="Label4" tabindex="17">Company</wm-label>
          <wm-textbox id="txtCompanyName" [model]="model.txtCompanyName" class="txtCompanyName" tabindex="1"></wm-textbox>
          <wm-button id="cmdCustomers" [model]="model.cmdCustomers" class="cmdCustomers" tabindex="15"></wm-button>
          <wm-label id="Label2" [model]="model.Label2" class="Label2" tabindex="16">First Name</wm-label>
          <wm-textbox id="txtContactName" [model]="model.txtContactName" class="txtContactName" tabindex="2"></wm-textbox>
          <wm-label id="Label3" [model]="model.Label3" class="Label3" tabindex="18">Last Name</wm-label>
          <wm-textbox id="txtContactLastName" [model]="model.txtContactLastName" class="txtContactLastName" tabindex="3"></wm-textbox>
          <wm-listview id="lvCustomers" [model]="model.lvCustomers" class="lvCustomers" tabindex="4"></wm-listview>
</wm-groupbox>
                <wm-groupbox id="Frame2" [model]="model.Frame2" class="Frame2" tabindex="13">
          <wm-label id="Label5" [model]="model.Label5" class="Label5" tabindex="20">Company</wm-label>
          <wm-textbox id="txtCustomerCompany" [model]="model.txtCustomerCompany" class="txtCustomerCompany" tabindex="21"></wm-textbox>
          <wm-label id="Label1" [model]="model.Label1" class="Label1" tabindex="19">Contact</wm-label>
          <wm-textbox id="txtCustomerContact" [model]="model.txtCustomerContact" class="txtCustomerContact" tabindex="22"></wm-textbox>
</wm-groupbox>
                <wm-label id="Label6" [model]="model.Label6" class="Label6" tabindex="12">Required by</wm-label>
                <wm-datetimepicker id="dtRequired" [model]="model.dtRequired" class="dtRequired" format="dddd, MMMM dd, yyyy" tabindex="5"></wm-datetimepicker>
                <wm-label id="Label7" [model]="model.Label7" class="Label7" tabindex="24">Promised by</wm-label>
                <wm-datetimepicker id="dtPromised" [model]="model.dtPromised" class="dtPromised" format="dddd, MMMM dd, yyyy" tabindex="6"></wm-datetimepicker>
                <wm-button id="cmdAddProducts" [model]="model.cmdAddProducts" class="cmdAddProducts" tabindex="23"></wm-button>
                <wm-datagridviewflex id="fgProducts" [model]="model.fgProducts" class="fgProducts" tabindex="7"></wm-datagridviewflex>
                <wm-label id="Label13" [model]="model.Label13" class="Label13" tabindex="35">Quantity</wm-label>
                <wm-textbox id="txtEntry" [model]="model.txtEntry" class="txtEntry" tabindex="26"></wm-textbox>
                <wm-label id="Label8" [model]="model.Label8" class="Label8" tabindex="27">Sales Tax</wm-label>
                <wm-textbox id="txtSalesTax" [model]="model.txtSalesTax" class="txtSalesTax" tabindex="8"></wm-textbox>
                <wm-label id="Label10" [model]="model.Label10" class="Label10" tabindex="30">Total Tax</wm-label>
                <wm-textbox id="txtTotalTax" [model]="model.txtTotalTax" class="txtTotalTax" tabindex="29"></wm-textbox>
                <wm-label id="Label12" [model]="model.Label12" class="Label12" tabindex="34">Freight</wm-label>
                <wm-textbox id="txtFreightCharge" [model]="model.txtFreightCharge" class="txtFreightCharge" tabindex="9"></wm-textbox>
                <wm-label id="Label9" [model]="model.Label9" class="Label9" tabindex="28">Sub Total</wm-label>
                <wm-textbox id="txtSubTotal" [model]="model.txtSubTotal" class="txtSubTotal" tabindex="33"></wm-textbox>
                <wm-label id="Label11" [model]="model.Label11" class="Label11" tabindex="32">Total</wm-label>
                <wm-textbox id="txtTotal" [model]="model.txtTotal" class="txtTotal" tabindex="31"></wm-textbox>
                <wm-button id="cmdSave" [model]="model.cmdSave" class="cmdSave" tabindex="10"></wm-button>
                <wm-button id="cmdClose" [model]="model.cmdClose" class="cmdClose" tabindex="11"></wm-button>
                <wm-statusstrip id="sbStatusBar" [model]="model.sbStatusBar" class="sbStatusBar" tabindex="25"></wm-statusstrip>
            </div>
        </ng-template>
    </wm-window>
</div>