.SKS_frmSearch {
    left: -1px;
    top: -1px;
}
.SKS_frmSearch .frmSearch {
    background-color: rgba(240, 240, 240, 1);
    width: 378px;
    height: 173px;
    overflow: hidden;
    font-size: 8.25pt;
    left: 486px;
    top: 322px;
}
.SKS_frmSearch .lblSrchBy {
    width: auto;
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: #404040;
    left: 7px;
    top: 72px;
    height: auto;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmSearch .Label1 {
    width: auto;
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: #404040;
    left: 125px;
    top: 144px;
    height: auto;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmSearch .Image3 {
    font-size: 8.25pt;
    left: 8px;
    top: 8px;
    width: 16px;
    height: 16px;
    position: absolute;
}
.SKS_frmSearch .Label19 {
    width: auto;
    background-color: Transparent;
    font-size: 9.75pt;
    color: #404040;
    left: 49px;
    top: 8px;
    height: auto;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmSearch .Label20 {
    width: auto;
    background-color: Transparent;
    font-size: 8.25pt;
    color: #404040;
    left: 49px;
    top: 32px;
    height: auto;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.SKS_frmSearch .txtSrchStr {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 136px;
    top: 72px;
    width: 217px;
    height: 19px;
    position: absolute;
}
.SKS_frmSearch .cboSrchBy {
    background-color: rgba(255, 255, 255, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 208px;
    top: 144px;
    width: 145px;
    height: 21px;
    position: absolute;
}
.SKS_frmSearch .ctrlLiner1 {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    left: 0px;
    top: 56px;
    width: 385px;
    height: 2px;
    position: absolute;
}
.SKS_frmSearch .cmdSearch {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 184px;
    top: 104px;
    width: 81px;
    height: 25px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.SKS_frmSearch .cmdClose {
    background-color: rgba(240, 240, 240, 1);
    font-size: 8.25pt;
    color: rgba(0, 0, 0, 1);
    left: 272px;
    top: 104px;
    width: 81px;
    height: 25px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
